#pa_mentor_frame_content {
    white-space: nowrap;
}

#pa_mentor_frame_content th {
    text-align: left;
    padding-left: 5px;
}

#pa_mentor_frame_content td {
    padding-left: 10px;
}

#pa_mentor_frame_content .good {
    color: #00FF00;
}

#pa_mentor_frame_content .acceptable {
    color: #F9EC31;
}

#pa_mentor_frame_content .bad {
    color: #FF8000;
}

#pa_mentor_frame_content .awful {
    color: #FF0000;
}
