#pa_mentor_frame_content {
    white-space: nowrap;
    font-family: 'DINPRO-BOLD';
    color: white;
    text-shadow: 0 2px 2px #000;
}

#pa_mentor_frame_content thead th {
    text-align: center;
    font-size: .75em;
}

#pa_mentor_frame_content tbody th {
    padding-left: 4px;
    text-align: left;
    font-size: .60em;
}

#pa_mentor_frame_content tbody td {
    padding-left: 4px;
    text-align: right;
    font-size: .75em;
}

#pa_mentor_frame_content .good {
    color: #00FF00;
}

#pa_mentor_frame_content .acceptable {
    color: #F9EC31;
}

#pa_mentor_frame_content .bad {
    color: #FF8000;
}

#pa_mentor_frame_content .awful {
    color: #FF0000;
}
